@import url('http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather');
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');



a {
  front-size:2rem;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: .5rem;
  transition: .6s background; 
}
a:hover{
  background:rgba(0,0,0,0.4);
}

//--------------------footer----------------



#footer{
    font-size: 55px;
    text-align: center;
    //color:aliceblue;
    background-color: gray;
    #desinger{
        font-family: "Maven Pro",sans-serif;
        font-size: 12px;
        color: white;
        a{
            text-decoration: underline;
        }
    }
    
}


